<div class="menu-container">
  <div class="flex-card">
    <mat-card class="card-container menu">
      <mat-card-header>
        <mat-card-title>会員抽出</mat-card-title>
        <mat-card-subtitle>Fetch Users</mat-card-subtitle>
      </mat-card-header>
      <a routerLink="./fuser"></a>
      <mat-icon class="card-icon">person</mat-icon>
      <mat-card-content>
        <p>
          マーチャントID等の指定で会員を抽出します！！！。
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-container menu">
      <mat-card-header>
        <mat-card-title>取引抽出</mat-card-title>
        <mat-card-subtitle>Fetch Transactions</mat-card-subtitle>
      </mat-card-header>
      <mat-icon class="card-icon">credit_card</mat-icon>
      <mat-card-content>
        <p>
          ユーザの取引情報を抽出します!!!!!！！！！！
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-container menu">
      <mat-card-header>
        <mat-card-title>事業者抽出</mat-card-title>
        <mat-card-subtitle>Fetch Merchants</mat-card-subtitle>
      </mat-card-header>
      <a routerLink="./fmerchant"></a>
      <mat-icon class="card-icon">location_city</mat-icon>
      <mat-card-content>
        <p>
          マーチャントID等の指定で事業者情報を抽出します。
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>